@use 'hero';
@use 'header';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

.container {
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
}

.btn-header {
    font-size: 17px;
    background: transparent;
    border: none;
    padding: 1em 1.5em;
    color: #000000;
    text-transform: uppercase;
    position: relative;
    transition: .5s ease;

    &:hover {
        color: #1e1e2b;
        transition-delay: .5s;

        &::before {
            width: 100%;
        }

        &::after {
            height: 100%;
            transition-delay: 0.4s;
            color: aliceblue;
        }
    }

    &::before {
        content: '';
        position: absolute;
        left: 0;
        bottom: 0;
        height: 2px;
        width: 0;
        background-color: #ffc506;
        transition: .5s ease;
    }

    &::after {
        content: '';
        position: absolute;
        left: 0;
        bottom: 0;
        height: 0;
        width: 100%;
        background-color: #ffc506;
        transition: .4s ease;
        z-index: -1;
    }
}