@use "../variables"

.about
    position: relative
    background-repeat: no-repeat
    background-size: cover
    background-position: center center
    min-height: 80vh

    .container
        display: grid
        grid-template-columns: repeat(2, 1fr)
        min-height: 80vh

    &__description
        display: grid
        flex-direction: column
        margin: 3rem 0
        align-items: center
        justify-content: space-between

        h3
            font-size: 3rem
            color: variables.$cor-secundaria
            
    &__join
        display: flex
        justify-content: center
        justify-self: center
        align-items: center
        font-size: 1.5rem
        font-weight: bold
        width: 300px
        padding: 1rem
        border-radius: 1rem
        border: none
        margin: 5rem 0 2rem
        background-color: variables.$btn-primario
        color: variables.$branco
        box-shadow: 0 0 15px variables.$btn-primario
        transition: all .2s ease

        &:hover
            background-color: variables.$branco
            color: variables.$btn-primario
            box-shadow: 0 0 15px variables.$branco

        &__call
            margin-right: 1rem
            font-family: variables.$fonte-secundaria

    &__social
        display: inline-flex
        gap: 2rem
        margin-top: 3rem
        justify-content: center

svg
    font-size: 2rem

.arrow--svg 
    position: absolute
    left: 200px
    top: 0
