.card
    width: 100%

    &__perfil
        height: 11.5rem
        width: 11.5rem
        background-color: red
        border-radius: 50%
        transform: translateY(-100px)
        margin: 0 auto

        @media (max-width: 767px)
            transform: translateY(-50px)
    
    &__person
        transform: translateY(-80px)

        @media (max-width: 767px)
            transform: translateY(-40px)

    &__assessments
        width: 50%
        margin:  auto
        transform: translateY(-30px)

        @media (max-width: 767px)
            transform: translateY(-15px)