@use "../mixins"
@use "../variables"

.header
    background-color: variables.$btn-secundario
    padding: 12px
    position: sticky
    top: 0
    left: 0
    z-index: 2
    background-color: transparent

    .container
        display: grid
        grid-template-columns: 1fr 2fr
        align-items: center

        @media (max-width: 767px)
            grid-template-columns: 10fr 2fr


    &__mobile
        display: none
        justify-self: flex-end
        width: 2rem
        border: none
        cursor: pointer
        background-color: transparent


        @media (max-width: 767px)
            display: block

        &__icon
            @include mixins.center()            
            width: 100%
            height: 2rem
            margin: 2px 0
            position: relative
            transition: 0.2s ease

            &::before
                @include mixins.toggle-transform(translateY(-7px))
                background-color: variables.$btn-primario
                box-shadow: 0 7px 0 variables.$btn-primario
            
            &.active::before
                transform: translateY(0) rotate(45deg)
                box-shadow: 0 0 0 variables.$btn-primario

            &::after
                @include mixins.toggle-transform(translateY(7px))
                background-color: variables.$btn-primario
            
            &.active::after
                transform: translateY(0) rotate(-45deg)

    &__branding
        justify-items: flex-start
        
        @media (max-width: 767px)
            justify-self: center

    &__nav
        justify-self: flex-start
        width: 100%

        @media (max-width: 767px)
            justify-content: center
            grid-column: 1 / span 2
            height: 0
            opacity: 0
            border-top: 1px solid grey

    &__list
        display: inline-flex
        gap: 12px

        @media (max-width: 767px)
            display: flex
            flex-direction: column
            gap: 2rem
            align-items: center

        &__item
            color: variables.$btn-primario
            font-weight: bold

        @media (max-width: 767px)
            justify-content: center
            

        &__link
            color: variables.$btn-primario
            padding: 8px
            border: 2px solid transparent

            &:hover
                color: lighten(variables.$btn-primario, 15)
                border-bottom: 2px solid variables.$btn-primario

